<mat-toolbar color="primary">
  <span>Insurance Policies</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditEmpForm()">
    ADD POLICY
  </button>
  

</mat-toolbar>

<div class="main-body p-4">
  <!-- Filter Input -->
  <mat-form-field class="w-full mb-4">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search policies" #input>
  </mat-form-field>

  <!-- Card Grid -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <mat-card *ngFor="let insurance of dataSource.filteredData" class="insurance-card">
      <mat-card-header>
        <mat-card-title>INS/NO/{{insurance.id | number:'7.0'}} </mat-card-title>
        <mat-card-subtitle>{{insurance.company}}</mat-card-subtitle>
      </mat-card-header>
      
      <mat-card-content>
        <div class="mt-2">
          <p> {{insurance.policy}}</p>
          <p><strong>Issued On:</strong> {{insurance.issuedOn | date}}</p>
          <p><strong>Expiring On:</strong> {{insurance.expiringOn | date}}</p>
          <p><strong>Status:</strong> 
            <span [ngClass]="{
              'active': insurance.status === 'active',
              'expired': insurance.status === 'expired',
              'renew': insurance.status === 'renew'
            }">{{insurance.status}}</span>
          </p>
        </div>
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-icon-button color="primary" (click)="openEditForm(insurance)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteEmployee(insurance.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
