<div mat-dialog-title>
    <h1>Policy Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Insurance ID</mat-label>
                <input matInput type="text" placeholder="Ex. 0000001" formControlName="id">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Company</mat-label>
                <input matInput placeholder="Insurance Company" formControlName="company">
            </mat-form-field>
        </div>
    
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Insurance Policy</mat-label>
                <input matInput type="text" placeholder="Ex. Health Insurance" formControlName="policy">
            </mat-form-field>
        </div>
    
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Issued On</mat-label>
                <input matInput [matDatepicker]="issuedPicker" formControlName="issuedOn">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="issuedPicker"></mat-datepicker-toggle>
                <mat-datepicker #issuedPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Expiring On</mat-label>
                <input matInput [matDatepicker]="expiringPicker" formControlName="expiringOn">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="expiringPicker"></mat-datepicker-toggle>
                <mat-datepicker #expiringPicker></mat-datepicker>
            </mat-form-field>
        </div>
    
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    <mat-option value="active">Active</mat-option>
                    <mat-option value="expired">Expired</mat-option>
                    <mat-option value="renew">Renew</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>